[submodule "ECSGameEngine"]
	path = ECSGameEngine
	url = https://github.com/teaganc/ECSGameEngine
[submodule "LunarLanderCapstone"]
	path = LunarLanderCapstone
	url = https://github.com/teaganc/LunarLanderCapstone
[submodule "RunescapePathfinding"]
	path = RunescapePathfinding
	url = https://github.com/teaganc/RunescapePathfinding
